# Analyze EPS (Earnings Per Share):

Read all Excels 

Add stock name column 

Read the EPS for all companies 

Consolidate into the dataframe 

compute pct increase 

plot this and compare

In [1]:
# Imports

In [1]:
import requests as rq
import pandas as pd 
import time
import datetime
from bs4 import BeautifulSoup
import re
import os

In [9]:
folder_path = "output/07082024084502" ## UPDATE THIS 

df = pd.read_csv("screener-stocks-list.csv")
df.head(5)

  Screener Stock Symbol   Url Segment
0                526433  consolidated
1                532407  consolidated
2                544021  consolidated
3            AARTIDRUGS  consolidated
4              AARTIIND  consolidated

In [10]:
df_quaterly_results = pd.DataFrame([])

for index, row in df.iterrows():
    stock_symbol = row["Screener Stock Symbol"]
    filepath = folder_path + "/" + stock_symbol + ".xlsx"
    df_data =  pd.read_excel(filepath, sheet_name="Quarterly Results")
    
    # Add stockname column and move into 2nd position: 
    df_data['Stockname'] = stock_symbol
    column_to_move = df_data.pop("Stockname")
    df_data.insert(1, "Stockname", column_to_move)
    df_quaterly_results = pd.concat([df_quaterly_results, df_data], ignore_index=True, sort=False)

In [11]:
print(len(df_quaterly_results))

1805

In [12]:
df_quaterly_results.describe()

,Quarterly Results,Stockname,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,Sep 2022,Dec 2022,...,Dec 2012,Mar 2013,Jun 2013,Sep 2013,Dec 2013,Mar 2014,Dec 2014,Mar 2015,Jun 2014,Sep 2014
count,1768,1805,429,1434,1434,1456,1488,1509,1499,1522,...,22,22,22,22,22,22,22,22,11,11
unique,17,149,311,880,880,893,926,911,942,953,...,22,22,22,22,22,21,21,22,11,11
top,Tax %,IDFCFIRSTB,4,0,26%,26%,26%,25%,0,26%,...,19.51,16.61,15.67,20.27,12.35,0,0,8.34,191,206
freq,146,14,7,26,28,32,24,32,25,26,...,1,1,1,1,1,2,2,1,1,1

In [13]:
df_quaterly_results.columns

Index(['Quarterly Results', 'Stockname', 'Mar 2021', 'Jun 2021', 'Sep 2021',
       'Dec 2021', 'Mar 2022', 'Jun 2022', 'Sep 2022', 'Dec 2022', 'Mar 2023',
       'Jun 2023', 'Sep 2023', 'Dec 2023', 'Mar 2024', 'Jun 2024', 'Dec 2011',
       'Mar 2019', 'Jun 2019', 'Sep 2019', 'Jun 2018', 'Sep 2018', 'Dec 2018',
       'Dec 2019', 'Mar 2020', 'Revenue', 'Dec 2020', 'Jun 2020', 'Sep 2020',
       'Sales +', 'Sep 2011', 'Mar 2012', 'Jun 2012', 'Sep 2012', 'Dec 2012',
       'Mar 2013', 'Jun 2013', 'Sep 2013', 'Dec 2013', 'Mar 2014', 'Dec 2014',
       'Mar 2015', 'Jun 2014', 'Sep 2014'],
      dtype='object')

In [14]:
df_quaterly_results.to_csv("temp-database.csv",index=False,sep=",")